*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;

}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color:gray;
}
li:hover{
    color:white;
    cursor:pointer;
}
input{
    width:60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.product-img{
    width: 200px;
    height:auto;
}
.nproduct-img{
    width: 150px;
    height:auto;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}
.box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-8px);
  background-color: bisque;
  color: aqua;
}
.box img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}
.box h3 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.box p {
  font-size: 14px;
  color: #555;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}